img {
  border-radius: 50%;
  max-height: 30vh;
}

header {
  background-color: blueviolet;
  align-items: center;
}

h1 {
  padding: 6vh;
  font-weight: bold;
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
